body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

button {
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background: #3882F6;
    color: #F9FAF8;
}

.section-1, .section-2, .section-3, .section-4, .header {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
}

.section-1, .section-2, .section-3, .section-4 {
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F9FAF8;
    background-color: #1F2937;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    background-color: #1F2937;
    text-align: center;
    font-size: 12px;
    height: 80px
}

.section-1 {
    background-color: #1F2937;
    color: #F9FAF8;
}

.section-2 {
    flex-direction: column;
}

.section-3 {
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}

.section-4 {
    justify-content: center;
}

.title {
    font-size: 24px;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
}

.header-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 16px;
}

.box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-form {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
    margin: 20px
}

#subtext {
    color: #E5E7EB;
    font-size: 18px;
}

#main_text {
    font-size: 48px;
    margin: 0px;
}

#placeholder {
    display: flex;
    height: 200px;
    width: 500px;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

#information-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 40px;
}

#boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quote {
    font-size: 36px;
    font-family: "light italic";
    color: #1F2937;
}

#thor {
    display: flex;
    font-size: 18px;
    text-align: end;
    justify-content: flex-end;
}

#sign-up-box {
    color: #F9FAF8;
    background-color: #3882F6;
    display: flex;
    flex-grow: 1000;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

#call-box {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

#call {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}

#call-text {
    font-size: 18px;
    margin-top: 8px;
    color: E5E7EB;
}

#button-sign-up {
    border: 2px solid #F9FAF8;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background: #3882F6;
    color: #F9FAF8;
    margin-right: 128px;
    -webkit-appearance: none;
}